<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
<div align="left">
 <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
 First name *: 
 <input 
   type="text" 
   name="firstName"
   formControlName="firstName"><br><br>
 Last name *: 
 <input 
   type="text" 
   name="lastName"
   formControlName="lastName"><br><br>
 
 Age *:
 <input 
   type="number" 
   name="age" 
   formControlName="age"><br><br>
 <input 
  type="submit" 
  value="Submit" 
  [disabled]="!contactForm.valid">
</form>
</div>
